[Unit]
Description=CoreOS bootcfg Server
Documentation=https://github.com/coreos/coreos-baremetal

[Service]
Type=simple
User=bootcfg
Group=bootcfg
ExecStart=/usr/local/bin/bootcfg -address=0.0.0.0:8080 -rpc-address=0.0.0.0:8081 -log-level=debug

# systemd.exec
ProtectHome=yes
ProtectSystem=full
ReadWriteDirectories=/var/lib/bootcfg

[Install]
WantedBy=multi-user.target