[Unit]
Description=CoreOS bootcfg Server
Documentation=https://github.com/coreos/coreos-baremetal

[Service]
Environment="IMAGE=quay.io/coreos/bootcfg"
Environment="VERSION=v0.4.1"
Environment="BOOTCFG_ADDRESS=0.0.0.0:8080"
Environment="BOOTCFG_RPC_ADDRESS=0.0.0.0:8081"
Environment="BOOTCFG_LOG_LEVEL=debug"
ExecStartPre=/usr/bin/mkdir -p /etc/bootcfg
ExecStartPre=/usr/bin/mkdir -p /var/lib/bootcfg/assets
ExecStart=/usr/bin/rkt run \
  --net=host \
  --inherit-env \
  --trust-keys-from-https \
  --mount volume=data,target=/var/lib/bootcfg \
  --mount volume=config,target=/etc/bootcfg \
  --volume data,kind=host,source=/var/lib/bootcfg \
  --volume config,kind=host,source=/etc/bootcfg \
  ${IMAGE}:${VERSION}

[Install]
WantedBy=multi-user.target
