[Unit]
Description=CoreOS bootcfg Server
Documentation=https://github.com/coreos/coreos-baremetal

[Service]
User=bootcfg
Group=bootcfg
Environment="BOOTCFG_ADDRESS=0.0.0.0:8080"
ExecStart=/usr/local/bin/bootcfg

# systemd.exec
ProtectHome=yes
ProtectSystem=full

[Install]
WantedBy=multi-user.target