name: mkdocs-pages
on:
  workflow_call:
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      # Checkout repo to GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v6

      # Install Python
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x

      # Install PyPI packages
      - name: Dependencies
        run: pip install -r requirements.txt

      # Push to GitHub Pages
      - name: Push Docs
        run: |
          mkdocs gh-deploy --force
