name: mkdocs-pages
on:
  workflow_call:
jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest
    steps:
      # Checkout repo to GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@v6

      # Install Python
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x

      # Install PyPI packages
      - name: Dependencies
        run: pip install -r requirements.txt

      # Push to GitHub Pages
      - name: Push Docs
        run: |
          mkdocs gh-deploy --force
